<div *ngIf="turnier">
  <h2>{{ turnier.name | uppercase }} Details</h2>
  <div><span>id: </span>{{turnier.id}}</div>
  <div>
    <mat-form-field>
      <input matInput placeholder="Name" [(ngModel)]="turnier.name">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput [matDatepicker]="startDate" placeholder="Start Datum" [(ngModel)]="turnier.startDate">
      <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
      <mat-datepicker #startDate></mat-datepicker>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput [matDatepicker]="endDate" placeholder="Ende Datum" [(ngModel)]="turnier.endDate">
      <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
      <mat-datepicker #endDate></mat-datepicker>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput [matDatepicker]="regEndDate" placeholder="Meldeschluss" [(ngModel)]="turnier.registerEndDate">
      <mat-datepicker-toggle matSuffix [for]="regEndDate"></mat-datepicker-toggle>
      <mat-datepicker #regEndDate></mat-datepicker>
    </mat-form-field>
  </div>
</div>
<button (click)="goBack()">go back</button>
